{% extends "base_sidebar.html" %}

{% block title %} Borrador Programa {% endblock %}
{% block content %}


	<div class="row">
		<div class="col-xs-12">
            <h1 class="center">Borrador Programa</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>(*) Se avisa que estos documentos son borradores sectoriales del programa en construcción, elaborados por las personas que han aportado en las Comisiónes de Trabajo del cada Eje programático. Y constituyen unicamente unos documentos iniciales de trabajo para el debate y la deliberación en las Jornadas Programáticas, estándo sometidos a revisión y reforma permanente, por y desde los procesos participativos en marcha hasta su aprobación como programa definitivo de la plataforma politica que se presente a las elecciones municipales. Estos borradores puede que aún no abarquen todas las dimensiónes y aspectos del eje programático al que se refieren.</p>
                </div>
            </div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
            <ul>
                <li><a href="static/docs/borrador%20eje%201%20V1.pdf">Borrador programa eje programático 1: <strong>"Por los derechos sociales básicos"</strong></a></li>
                <li><a href="static/docs/borrador%20eje%202%20V1.pdf">Borrador programa eje programático 2: <strong>"Buen gobierno, transparencia y democracia participativa"</strong></a></li>
                <li><a href="static/docs/borrador%20eje%203%20V1.pdf">Borrador programa eje programático 3: <strong>"La economía al servicio de las personas"</strong></a></li>
                <li><a href="static/docs/borrador%20eje%204%20V0.pdf">Borrador programa eje programático 4: <strong>"Una ciudad sostenible y un urbanismo integrado y accesible"</strong></a></li>
                <li><a href="static/docs/borrador%20eje%205%20V1.pdf">Borrador programa eje programático 5: <strong>"Por la Igualdad, la inclusión social y la solidaridad"</strong></a></li>
                <li><a href="static/docs/borrador%20eje%206%20V1.pdf">Borrador programa eje programático 6: <strong>"Por una ciudad de la cultura, el deporte y la fiesta"</strong></a></li>
            </ul>
		</div>
	</div>

{% endblock %}