{% extends "base.html" %}

{% block title %}Programa colaborativo {% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {

        //--
		$("img.sector").click(function() { 
			var i=$(this).attr('id');
            document.location = "listado_sector.php?sector="+ i;
	 	});

        //--
        $("svg path").each(function(num, elem) {
            // hacemos una lista de los atributos a borrar (todos excepto id y d)
            var attributes = $.map(elem.attributes, function(item) {
                if(item.name != "id" && item.name != "d")
                    return item.name;
            });

            // borramos todos los atributos encontrados
            var element = $(this);
            $.each(attributes, function(i, item) {
                element.removeAttr(item);
            });
            
            // asignamos la clase barrio
            elem.setAttribute("class", "barrio");
            
            $(this).click(function() { 
                var i=$(this).attr('id');
                document.location = "listado_barrio.php?barrio="+ i;
            });
        });
        
        //--
        $("svg text").each(function(num, elem) {
            elem.setAttribute("pointer-events", "none");
        });
        
        //--
        
	});
</script>

{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h1 class="center">Programa colaborativo de {% include 'texto_ganemos.html' %}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{% include 'texto_home.html' %}
		</div>
	</div>

    {% if user %}
    {% if jornadas_activas %}
	<div class="row">
		<div class="col-xs-12 alert alert-success">
			<p>Para participar en las Jornadas Participativas, es recomendable que indique en cual de ellas desea hacerlo para ayudar a reservar el espacio más indicado.</p>
            <p>Por favor, indique qué mesa de trabajo prefiere <a class="alert-link" href="jornadas.php">pulsando aquí.</a></p>
		</div>
	</div>
    {% endif %}
    {% endif %}

	<h2>Se está debatiendo</h2>
    {% include 'propuestas_base.html' %}

	<a name="sectores"></a><h2>Ejes programáticos</h2>
    {% set list = sectores %}
    {% include 'sectores_base.html' with list %}
  
    <a name="barrios"></a><h2>Barrios</h2>
	<div class="row visible-sm visible-md visible-lg">
		<div class="col-md-12">
            {{ include('barrios.svg', ignore_missing = true) }}
        </div>
    </div>

	<div class="row">
        <h3 class="enlace-barrio">Selecciona barrio</h3>
        {% for barrio in barrios %}
        
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		  <a class="enlace-barrio" href="listado_barrio.php?barrio={{barrio.id}}">{{barrio.id}}. {{barrio.nombre}}</a><br>
        </div>
        {% endfor %}
	</div>


{% endblock %}

