{% extends "base.html" %}

{% block title %}Programa colaborativo {% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {

        //--
		$("img.sector").click(function() { 
			var i=$(this).attr('id');
            document.location = "listado_sector.php?sector="+ i;
	 	});

        //--
        $("svg path").each(function(num, elem) {
            // hacemos una lista de los atributos a borrar (todos excepto id y d)
            var attributes = $.map(elem.attributes, function(item) {
                if(item.name != "id" && item.name != "d")
                    return item.name;
            });

            // borramos todos los atributos encontrados
            var element = $(this);
            $.each(attributes, function(i, item) {
                element.removeAttr(item);
            });
            
            // asignamos la clase barrio
            elem.setAttribute("class", "barrio");
            
            $(this).click(function() { 
                var i=$(this).attr('id');
                document.location = "listado_barrio.php?barrio="+ i;
            });
        });
        
        //--
        $("svg text").each(function(num, elem) {
            elem.setAttribute("pointer-events", "none");
        });
        
        //--
        $('#video_ayuda').on('hidden.bs.modal', function () {
            //First get the  iframe URL
            var url = $('#video_ayuda_frame').attr('src');

            //Then assign the src to null, this then stops the video been playing
            $('#video_ayuda_frame').attr('src', '');

            // Finally you reasign the URL back to your iframe, so when you hide and load it again you still have the link
            $('#video_ayuda_frame').attr('src', url);
        });
        
        if($('#video_ayuda_frame').attr('src'))
        {
            $('#ayuda_link').removeAttr('style');
        }
	});
</script>

{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h1 class="center">Programa colaborativo de {% include 'texto_ganemos.html' %}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{% include 'texto_home.html' %}
		</div>
	</div>

    
    {% if jornadas_activas %}
	<div class="row">
		<div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% include 'texto_home_jornadas.html' %}
                </div>
            </div>
		</div>
	</div>
    {% endif %}


    <div class="row" id="ayuda_link" style="display:none">
        <div class="col-md-12">
            <p class="text-center"><a data-toggle="modal" href="#video_ayuda" class="fa fa-youtube-play"> Ver vídeo tutorial de ayuda</a></p>
        </div>
    </div>

    <div id="video_ayuda" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Vídeo tutorial de ayuda</h4>
                </div>
                <div class="modal-body">
                    <iframe id="video_ayuda_frame" width="100%" height="390" src="{% include 'texto_video_ayuda.html' %}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

	<h2>Se está debatiendo</h2>
    {% include 'propuestas_base.html' %}

	<a name="sectores"></a><h2>Ejes programáticos</h2>
    {% set list = sectores %}
    {% include 'sectores_base.html' with list %}
  
    <a name="barrios"></a><h2>Barrios</h2>
	<div class="row visible-sm visible-md visible-lg">
		<div class="col-md-12">
            {{ include('barrios.svg', ignore_missing = true) }}
        </div>
    </div>

	<div class="row">
        <h3 class="enlace-barrio">Selecciona barrio</h3>
        {% for barrio in barrios %}
        
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		  <a class="enlace-barrio" href="listado_barrio.php?barrio={{barrio.id}}">{{barrio.id}}. {{barrio.nombre}}</a><br>
        </div>
        {% endfor %}
	</div>


{% endblock %}

