{% extends "base.html" %}

{% block title %}Programa colaborativo {% endblock %}

{% block scripts %}
<script>
	$(document).ready(function() {

		$("img.sector").click(function() { 
			var i=$(this).attr('id');
            document.location = "listado_sector.php?sector="+ i;
	 	});
        $("path").addClass("barrio");
		$("path.barrio").click(function() { 
			var i=$(this).attr('id');
            document.location = "listado_barrio.php?barrio="+ i;
	 	});
	});
</script>

{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h1 class="center">Programa colaborativo de {%include 'texto_ganemos.html' %}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			{%include 'texto_home.html' %}
		</div>
	</div>

	<h2>Se está debatiendo</h2>
    {% include "propuestas_base.html" %}

	<a name="sectores"></a><h2>Sectores</h2>
    {% set list = sectores %}
    {% include "sectores_base.html" with list %}
  
    <a name="barrios"></a>
	<div class="row visible-sm visible-md visible-lg">
		<div class="col-md-12">
            {{ include('barrios.svg', ignore_missing = true) }}
        </div>
    </div>

	<div class="row">
        <h3 class="enlace-barrio">Selecciona barrio</h3>
        {% for barrio in barrios %}
		<a class="enlace-barrio" href="listado_barrio.php?barrio={{barrio.id}}">{{barrio.nombre}}</a><br>
        {% endfor %}
	</div>


{% endblock %}