{% extends "base_sidebar.html" %}
{% block title %} Jornadas Participativas {% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
    {% if user %}
	var usuario_id     = {{ user.id|e('js') }};
    {% endif %}
    
    //Likes propuestas
    function checkJornada(elem)
    {
        if((typeof usuario_id === 'undefined') || !usuario_id)
            return;
        
        var active     = $(elem).hasClass("active");
        var jornada_id = 0;
        if(active == false)
            jornada_id = $(elem).attr("id");
        
        
		$.ajax({
                url: 'ajax/asignar_jornada.php',
                data: {jornada_id:jornada_id, usuario_id:usuario_id},
                type: 'POST',
                dataType: 'json',
                success: function(data) {
                    var alertTime = 2000;
					if(data == true)
                    {
                        $(".list-group-item").removeClass("active");
                        if(active == false)
                        {
                            $(elem).addClass("active");
                            $(".alert").html("Se ha almacenado su selección: " + $(elem).html());
                            $(".alert").stop().hide().show('slow').delay(alertTime).hide('slow');
                        }
                        else
                        {
                            $(elem).blur();
                            $(".alert").html("Se ha eliminado su selección.");
                            $(".alert").stop().hide().show('slow').delay(alertTime).hide('slow');
                        }
                    }
                    else
                    {
                        $(".alert").html("Se ha producido un error al seleccionar la jornada: " + $(elem).html());
                        $(".alert").stop().hide().show('slow').delay(alertTime).hide('slow');
                    }
				}
		});
    }
    
    $(".alert").hide();
    $('.list-group-item').on("click", function(e){
        e.preventDefault();
        checkJornada(this);
	});
});
</script>
{% endblock %}
{% block content %}


	<div class="row">
		<div class="col-xs-12">
            <h1 class="center">Jornadas "PARTICIPA EN EL PROGRAMA ELECTORAL DE <spa class="upper">{% include 'texto_ganemos.html' %}</spa>"</h1>
		</div>
	</div>


	<div class="row">
		<div class="col-xs-12">
            <h3>20 y 21 de Febrero</h3>
            <h4>CENTRO DE EDUCACION DE PERSONAS ADULTAS GINER DE LOS RIOS</h4>

            <p>¡Participa aportando tus <strong>ideas y demandas en el programa para {% include 'texto_ganemos.html' %} para la ciudadanía</strong>!</p>

            <h3>PROGRAMA DE LAS JORNADAS</h3>
            <h4>VIERNES 20 DE FEBRERO  / 17:30 - 21:00 h.</h4>

            <p><strong>(6)Talleres de Debate temático por Eje Programático (6)*</strong></p>

            <p><strong>17:30 - 19.00:</strong> Presentación, explicación dinámica de participación a desarrollar y trabajo deliberativo en grupos.</p>
            <p><strong>19.00 - 19.30:</strong> Descanso.</p>
            <p><strong>19:30 - 21:00:</strong> Recogida y elaboración conjunta de puntos, propuestas y conclusiones para el programa.</p>

            <p>(*)En los talleres se tomarán como documentos base de debate, el borrador de propuestas iniciales realizadas por las Comisiones Temáticas de Programa de {% include 'texto_ganemos.html' %} y la relación de propuestas programáticas más valoradas, aportadas desde  la web</p>

            <h4>SÁBADO 21 DE FEBRERO / 10:30 - 13:30 h</h4>

            <p><strong>Sesión Plenaria de Programa</strong></p>

            <p><strong>10:30 - 12:00:</strong> Exposición por cada Taller de Debate de la dinámica realizada y de las principales propuestas y conclusiones programáticas consensuadas.</p>
            <p><strong>12:00 - 12.30:</strong> Descanso.</p>
            <p><strong>12:00 - 13:00:</strong> Debate Abierto sobre el Programa.</p>
            <p><strong>13:00 - 13:30:</strong> Cierre y CLOWNCLUSIONES (por Marisol La Roja).</p>
		</div>
	</div>



	<div class="row">
		<div class="col-xs-12">
            <h1 class="center">Inscríbete en las Jornadas Programáticas</h1>
            {% if user %}
            <p>Indica en qué Taller de Debate prefieres participar:</p>
            {% else %}
            <p>Para poder indicar en qué taller de debate prefieres participar debes <a href="login.php">iniciar sesión</a> o <a href="login.php?alta">registrarte aquí</a>.</p>
            {% endif %}
		</div>
	</div>

    <div class="row">
        <div class="col-xs-12">
            <div class="list-group">
                {% set counter = 1 %}
                {% set selected = '' %}
                {% for jornada in jornadas %}
                    {% if jornada_user.jornada_id == jornada.id %}
                        {% set selected = 'active' %}
                    {% endif %}

                    <a href="#" id="{{jornada.id}}" class="list-group-item {{selected}}"><strong>Taller Eje {{counter}}</strong>: {{jornada.nombre}}<span class="badge">{{jornada.total}}</span></a>

                    {% set counter = counter + 1 %}
                    {% set selected = '' %}
                {% endfor %}
            </div>
            <div class="alert alert-danger" role="alert"></div>
        </div>
    </div>

	<div class="row">
		<div class="col-xs-12">
            <a href="index.php">Volver</a>
		</div>
	</div>
{% endblock%}
