{% block propuestas_list %}
	{% for propuesta in list %}

        {% set suma       = (propuesta.negativos + propuesta.positivos) %}
        {% set porcentaje = 0 %}
        {% if propuesta.total > 0 %}
        {% set porcentaje = (suma / propuesta.total)*100 %}
        {% endif %}
        {% set total_comentarios = propuesta.enmiendas + propuesta.comentarios %}
		<div class="row listado">
			<div class="col-xs-1 votos">
				{{suma}}
			</div>
			<div class="col-xs-11">
				<div class="titulo"><a href="detalle_propuesta.php?id={{propuesta.id}}">{{ propuesta.titulo}}</a></div>
				<div class="metadata">autor: <strong>{{ propuesta.nombre}} {{ propuesta.apellidos}} </strong> | <strong>{{ total_comentarios }}</strong> comentarios | <strong>{{ porcentaje | number_format(2) }} %</strong> de votos positivos de un total de {{ propuesta.total }} votos.
				</div>
				<div class="metadata">
                {% if propuesta.sector %}
				Sector: <a href="listado_sector.php?sector={{propuesta.sector_id}}"><span class="sector"><strong>{{propuesta.sector}}</strong></span></a>
                {% endif %}
				{% if propuesta.barrio %}
                    {% if propuesta.sector %} | {% endif %}
                    Barrio: <a href="listado_barrio.php?barrio={{propuesta.barrio_id}}"><span class="barrio"><strong>{{ propuesta.barrio }}</strong></span></a>
				{% endif %}
				</div>
			</div>
		</div>
			
	
	{% else %}
		<div class="">No hay propuestas todavía.
        {% if user %}
            <a href="alta_propuesta.php">Envíanos la tuya</a>.
        {% endif %}
        </div>
	{% endfor %}
{% endblock %}