{% block propuestas_base %}
	{% if user %}
	<div class="row">
		<div class="col-xs-12">
			<a class="btn btn-success btn-lg btn-block" href="alta_propuesta.php">SUBIR UNA NUEVA PROPUESTA</a>
		</div>
	</div>	
	{% else %}
	<div class="row">
		<div class="col-xs-12">
			<a href="login.php">Tienes que identificarte para hacer una propuesta, votarla o comentarla.</a>
		</div>
	</div>
	{% endif %}

	<div class="row">
		<ul class="nav nav-tabs" role="tablist" id="tabsIndex">
  			<li class="active"><a href="#valoradas" role="tab" data-toggle="tab">Más valoradas</a></li>
  			<li><a href="#consensuadas" role="tab" data-toggle="tab">Más consenso</a></li>
  			<li><a href="#debatidas" role="tab" data-toggle="tab">Más debatidas</a></li>
  			<li><a href="#recientes" role="tab" data-toggle="tab">Más recientes</a></li>
		</ul>
	</div>

	<div class="row">
	<div class="tab-content">

        <div class="tab-pane active" id="valoradas">
            <p>Propuestas ordenadas por mayor número de votos (positivos o negativos)</p>
            {% set list = valoradas %}
            {% include 'propuestas_list.html' with list %}
        </div>

        <div class="tab-pane" id="consensuadas">
            <p>Propuestas ordenadas por mayor porcentaje de votos positivos</p>
            {% set list = consensuadas %}
            {% include 'propuestas_list.html' with list %}
        </div>

        <div class="tab-pane" id="debatidas">
            <p>Propuestas ordenadas por mayor número de comentarios</p>
            {% set list = debatidas %}
            {% include 'propuestas_list.html' with list %}
        </div>

        <div class="tab-pane" id="recientes">
            <p>Propuestas ordenadas por creadación más recientemente</p>
            {% set list = recientes %}
            {% include 'propuestas_list.html' with list %}
        </div>
        {% if mostrar_todas %}
        <a href="listado_todas.php" class="btn btn-success">Ver todas</a>
        {% endif %}
	</div>
    </div>
{% endblock %}
