{% extends "base_sidebar.html" %}
{% block title %} {{ propuesta.titulo }} {% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
	$('.textarea_comentarios').hide();
	var propuesta_id   = {{ id.id|e('js') }};
	var usuario_id     = {{ user.id|e('js') }};
    var autor_id       = {{ autor.autor_id|e('js') }};
	var usuario_nombre = '{{ user.nombre }} {{ user.apellidos }}';

	actualizar_votos_propuesta();
	actualizar_votos_enmiendas();
	actualizar_votos_comentarios();

    //Likes propuestas
    function checkBtnPropuesta(btnUsedYes)
    {
        var btnUsed   = (btnUsedYes) ? '#prop_favor a'  : '#prop_contra a';
        var btnUnused = (btnUsedYes) ? '#prop_contra a' : '#prop_favor a';
        
        var voto = ($(btnUsed).hasClass("active") ? 0 : (btnUsedYes ? 1 : -1) );
        
        $(btnUsed).removeClass("inactivo");
        $(btnUsed).removeClass("active");
        $(btnUsed).addClass((voto == 0) ? "inactivo" : "active");

        $(btnUnused).removeClass("active");
        $(btnUnused).addClass("inactivo");
        
		$.ajax({
                url: 'ajax/like_propuesta.php',
                data: {propuesta:propuesta_id, usuario_id:usuario_id, cuenta:voto},
                type: 'POST',
                dataType: 'json',
                success: function(data) {
					$.each(data, function (clave, valor){
						$('#votos').html(valor.votos);
					});
				}
		});
    }
    
    $('#prop_favor').on("click", function(){
        checkBtnPropuesta(true);
	});
	$('#prop_contra').on("click", function(){
        checkBtnPropuesta(false);
	});

    //Likes enmiendas
    function checkBtnEnmienda(id, btnUsedYes) 
    {
        var btnUsed   = (btnUsedYes) ? '#enm-fav-'+id : '#enm-con-'+id;
        var btnUnused = (btnUsedYes) ? '#enm-con-'+id : '#enm-fav-'+id;
        
        var voto = ($(btnUsed).hasClass("active") ? 0 : (btnUsedYes ? 1 : -1) );
        
        $(btnUsed).removeClass("inactivo");
        $(btnUsed).removeClass("active");
        $(btnUsed).addClass((voto == 0) ? "inactivo" : "active");

        $(btnUnused).removeClass("active");
        $(btnUnused).addClass("inactivo");
		
		$.ajax({
                url: 'ajax/like_enmienda.php',
                data: {enmienda:id, usuario_id:usuario_id, cuenta:voto},
                type: 'POST',
                dataType: 'json',
                success: function(data) {
					$.each(data, function (clave, valor){
						$('#enm-votos-'+id).html(valor.votos);
					});
				}
		});
    }
    
    //--
    function registrarLikesEnmiendas()
    {
        $('.enm_favor').off("click");
        $('.enm_contra').off("click");
        
        $('.enm_favor').on("click", function(){
            var sacar_id = $(this).children().first().attr('id').split('-');
            var id = sacar_id[2];

            checkBtnEnmienda(id, true);
        });
        $('.enm_contra').on("click", function(){
            var sacar_id = $(this).children().first().attr('id').split('-');
            var id = sacar_id[2];

            checkBtnEnmienda(id, false);
        });
    }
    registrarLikesEnmiendas();
    
    //--
	//Likes comentarios
    function checkBtnComentario(id, btnUsedYes) 
    {
        var btnUsed   = (btnUsedYes) ? '#com-fav-'+id : '#com-con-'+id;
        var btnUnused = (btnUsedYes) ? '#com-con-'+id : '#com-fav-'+id;
        
        var voto = ($(btnUsed).hasClass("active") ? 0 : (btnUsedYes ? 1 : -1) );
        
        $(btnUsed).removeClass("inactivo");
        $(btnUsed).removeClass("active");
        $(btnUsed).addClass((voto == 0) ? "inactivo" : "active");

        $(btnUnused).removeClass("active");
        $(btnUnused).addClass("inactivo");
		
		$.ajax({
                url: 'ajax/like_comentario.php',
                data: {comentario:id, usuario_id:usuario_id, cuenta:voto},
                type: 'POST',
                dataType: 'json',
                success: function(data) {
					$.each(data, function (clave, valor){
						$('#com-votos-'+id).html('<span class="centrado">' + valor.votos + '</span>');
					});
				}
		});
    }
    
    //--
    function registrarLikesComentarios()
    {
        $('.com_favor').off("click");
        $('.com_contra').off("click");

        $('.com_favor').on("click", function(){
            var sacar_id = $(this).children().first().attr('id').split('-');
            var id = sacar_id[2];

            checkBtnComentario(id, true);
        });
        $('.com_contra').on("click", function(){
            var sacar_id = $(this).children().first().attr('id').split('-');
            var id = sacar_id[2];

            checkBtnComentario(id, false);
        });
    }
    registrarLikesComentarios();

    //--
	//enmienda nueva
	$('#boton_enmienda').click(function(){
		var texto_enmienda = $('#texto_enmienda').val(); 
		if (texto_enmienda){
		$.ajax({
                url: 'ajax/crear_enmienda.php',
                data: {propuesta_id:propuesta_id, usuario_id:usuario_id, enmienda: texto_enmienda},
                type: 'POST',
                dataType: 'json',
                success: function(data) {
					$.each(data, function (clave, valor){
                        //
                        var insignia = '';
                        {% if autor.autor_id == user.id %}
                        insignia = '<img src="static/images/insignia.png">';
                        {% endif %}
						$('#enmienda_nueva').after('<div class="row enmienda"><div id ="enm-votos-{{ enmienda.id }}"class="col-xs-1 votos">1</div><div class="col-xs-1"><div class="enm_favor"><i id="enm-fav-{{ enmienda.id }}" class="fa fa-angle-up fa-lg active"></i></div><div class="enm_contra"><i id="enm-con-{{ enmienda.id }}"class="fa fa-angle-down fa-lg inactivo"></i></div></div> <div class="col-xs-10"><div class="enm_autor">'+insignia+' Comentario de '+ usuario_nombre +'</div><div class="enm_texto">'+ texto_enmienda +'</div></div></div>');
                         
						//$('#texto_enmienda').val('');
						$('html, body').stop().animate({
        					scrollTop: $('#enmienda_nueva').offset().top-100
    					}, 300);
    					$('.textarea_comentarios').hide();
                        registrarLikesEnmiendas();
					});
				}
		});
		}
	});
    
	//Visualizar formulario comentario nuevo
	$(".comentarios-enmiendas").click(function(e){
		e.preventDefault();
		$('.textarea_comentarios',this).addClass("activo");
		$('.textarea_comentarios',this).show();
		$('.enlace_comentar', this).addClass("enlace-activo");
		$('.enlace_comentar', this).hide();
	});

	//Comentario nuevo. 
	$('.boton_comentario').click(function(e){
		e.preventDefault();
		var texto_comentario = $(this).siblings('#texto_comentario').val();
		var enmienda_id = $(this).siblings('.enmienda_id').val();
		if (texto_comentario){
			$.ajax({
	                url: 'ajax/crear_comentario.php',
	                data: {propuesta_id:propuesta_id, enmienda_id:enmienda_id, usuario_id:usuario_id, comentario: texto_comentario},
	                type: 'POST',
	                dataType: 'json',
	                success: function(data) {
						$.each(data, function (clave, valor){

                            var insignia = '';
                            {% if autor.autor_id == user.id %}
                            insignia = '<img src="static/images/insignia.png">';
                            {% endif %}                            
							$('#comentario-'+enmienda_id).append('<div class="row comentarios"><div class="col-xs-1"></div><div id ="com-votos-{{ comentario.id }}"class="col-xs-1 circular"><span class="centrado">1</span></div><div class="col-xs-1"><div class="com_favor"><i id="com-fav-{{ comentario.id }}" class="fa fa-angle-up fa-lg active"></i></div><div class="com_contra"><i id="com-con-{{ comentario.id }}" class="fa fa-angle-down fa-lg inactivo"></i></div></div><div class="col-xs-9 fondo_comentarios"><div class="com_autor">'+insignia+' Respuesta de '+ usuario_nombre +'</div><div class="com_texto">'+texto_comentario+'</div></div></div>');
							$('.activo').hide();
							$('.enlace-activo').show();
                            
                            $('html, body').stop().animate({
                                scrollTop: $('#comentario-'+enmienda_id).children().last().offset().top-100
                            }, 300);
                            $('.textarea_comentarios').hide();
							registrarLikesComentarios();
						});
					}
			});
            $(this).siblings('#texto_comentario').val('');
            //window.scrollTo($('#comentario-'+enmienda_id).offset().left, $('#comentario-'+enmienda_id).offset().top);
							
		}
	}); 


	
	//dejar selecionada la opción votada:
	//Propuestas
	function actualizar_votos_propuesta(){
		$.ajax({
                url: 'ajax/votos_propuesta.php',
                data: {propuesta:propuesta_id, usuario_id:usuario_id},
                type: 'POST',
                dataType: 'json',
                success: function(data) {
					$.each(data, function (clave, valor){
                        
						$('#prop_favor a').removeClass("active").addClass("inactivo");
						$('#prop_contra a').removeClass("active").addClass("inactivo");

                        if(valor.voto == 1)
                        {
                            $('#prop_favor a').addClass("active");
                        }
                        else if(valor.voto == -1)
                        {
                            $('#prop_contra a').addClass("active");
                        }
					});
				}
		});
    }
    //Enmiendas

    function actualizar_votos_enmiendas(){
		$.ajax({
                url: 'ajax/votos_enmiendas.php',
                data: {propuesta:propuesta_id, usuario_id:usuario_id},
                type: 'POST',
                dataType: 'json',
                success: function(data) {
					$.each(data, function (clave, valor){
 
						$('#enm-fav-'+valor.id).removeClass("active").addClass("inactivo");
						$('#enm-con-'+valor.id).removeClass("active").addClass("inactivo");
                        
                        if(valor.voto == 1)
                        {
                            $('#enm-fav-'+valor.id).addClass("active");
                        }
                        else if(valor.voto == -1)
                        {
                            $('#enm-con-'+valor.id).addClass("active");
                        }
					});
				}
		});
    }

    //comentarios

    function actualizar_votos_comentarios(){
		$.ajax({
                url: 'ajax/votos_comentarios.php',
                data: {propuesta:propuesta_id, usuario_id:usuario_id},
                type: 'POST',
                dataType: 'json',
                success: function(data) {
					$.each(data, function (clave, valor){
						$('#com-fav-'+valor.id).removeClass("active").addClass("inactivo");
						$('#com-con-'+valor.id).removeClass("active").addClass("inactivo");
                        
                        if(valor.voto == 1)
                        {
                            $('#com-fav-'+valor.id).addClass("active");
                        }
                        else if(valor.voto == -1)
                        {
                            $('#com-con-'+valor.id).addClass("active");
                        }
					});
				}
		});
    }
});


</script>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "36929c7c-b370-4b17-b7ba-cebe0f3ced82", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock %}
{% block content %}
	<div class="propuesta-individual">
		<div class="row encabezado">
				<div class="col-xs-1 votos" id="votos">
					{{ propuesta.positivos + propuesta.negativos}}
				</div>
				<div class="col-xs-11">
					<div class="titulo"><a href="detalle_propuesta.php?id={{propuesta.id}}/">{{ propuesta.titulo}}</a></div>
					<div class="autor">Presentada por {{ propuesta.nombre}} {{ propuesta.apellidos}}</div>
				</div>
		</div>

		<div class="row">
			<h4>Propuesta: </h4> 
			{{ propuesta.propuesta|raw }}
		</div>
        <div class="row">
            <div class="pull-right metadata">Sector: <a href="listado_sector.php?sector={{propuesta.sector_id}}"><span class="sector"><strong>{{propuesta.sector}}</strong></span></a></div>
        </div>
	</div>
	
	{% if autor %}
	<div class="row"><a href="editar_propuesta.php?id={{ propuesta.id }}">Editar</a></div>
	<hr class="hr">
	
	{% endif %}
	{% if user %}
		{% if user.id != autor.autor_id %}
	<div class="row" id="votar_propuesta">
		<div class="col-xs-1"></div>
		<div class="col-xs-4" id="prop_favor"><a class="btn btn-success btn-lg btn-block inactivo">A FAVOR</a></div>
		<div class="col-xs-1"></div>
		<div class="col-xs-4" id="prop_contra"><a class="btn btn-danger btn-lg btn-block inactivo">EN CONTRA</a></div>
		<div class="col-xs-1"></div>
	</div>
	<hr class="hr">
		{% endif %}
	<form id="comentar">
		<div class="row"><strong>¿Qué te ha parecido?</strong></div>
		<div class="row">
			<input type="hidden" name="user" value="{{ user.id }}">
			<input type="hidden" name="propuesta" value="{{ propuesta.id }}">
			<textarea id="texto_enmienda" name="texto_enmienda" class="form-control" rows="3"></textarea>
		</div>
		<div class="row"><a id="boton_enmienda" class="btn btn-success">Comentar</a></div>

	</form>
	{% endif %}
	<div class="row">
		<h5><strong>Comparte la propuesta</strong> </h5>
		<span class='st_facebook_large' displayText='Facebook'></span>
		<span class='st_twitter_large' displayText='Tweet'></span>
		<span class='st_googleplus_large' displayText='Google +'></span>
		<span class='st_linkedin_large' displayText='LinkedIn'></span>
		<span class='st_meneame_large' displayText='Meneame'></span>
		<span class='st_email_large' displayText='Email'></span>
	</div>

	<hr class="hr">
	

	<div id="enmienda_nueva"></div>
	{% if enmiendas %}
		{% for enmienda in enmiendas %}
		<div class="row enmienda">
			<div id ="enm-votos-{{ enmienda.id }}"class="col-xs-1 votos">
					{{ enmienda.positivos + enmienda.negativos}}
			</div>
			{% if user %}
			<div class="col-xs-1">
				<div class="enm_favor"><i id="enm-fav-{{ enmienda.id }}" class="fa fa-angle-up fa-lg inactivo"></i></div>
				<div class="enm_contra"><i id="enm-con-{{ enmienda.id }}"class="fa fa-angle-down fa-lg inactivo"></i></div>
			</div>
			<div class="col-xs-10">
			{% else %}
			<div class="col-xs-11">
			{% endif%}
					<div class="enm_autor">
					{% if propuesta.autor_id == enmienda.autor_id %}
					<img src="static/images/insignia.png"> Comentario de {{ enmienda.nombre}} {{ enmienda.apellidos}}
					{% else %}
					Comentario de {{ enmienda.nombre}} {{ enmienda.apellidos}} 
					{% endif %}
					</div>

					<div class="enm_texto">{{ enmienda.enmienda}}</div>
					
					
					{% if user %}
					<div class="comentarios-enmiendas">
						<div class="enlace_comentar"><a href="#" >Responder</a></div>
						<form class="row textarea_comentarios">
							<input type="hidden" class="enmienda_id" name="enmienda" value="{{ enmienda.id }}">
							<textarea id="texto_comentario" name="texto_comentario" class="form-control" rows="2"></textarea>
						<a class="btn btn-success boton_comentario">Responder</a>
						</form>
					</div>
					{% endif %}
			</div>
		</div>
				
			<div id="comentario-{{enmienda.id}}">	
			{% if comentarios %}
				{% for comentario in comentarios %}
				{% if comentario.enmienda_id == enmienda.id %}
            
            
				<div class="row comentarios">
					<div class="col-xs-1"></div>
					<div id ="com-votos-{{ comentario.id }}"class="col-xs-1 circular">
						<span class="centrado">{{ comentario.positivos + comentario.negativos}}</span>
					</div>
					{% if user %}
					<div class="col-xs-1">
						<div class="com_favor"><i id="com-fav-{{ comentario.id }}" class="fa fa-angle-up fa-lg inactivo"></i></div>
						<div class="com_contra"><i id="com-con-{{ comentario.id }}"class="fa fa-angle-down fa-lg inactivo"></i></div>
					</div>
					<div class="col-xs-9 fondo_comentarios">
					{% else %}
					<div class="col-xs-10 fondo_comentarios">
					{% endif %}
							<div class="com_autor">
							{% if propuesta.autor_id == comentario.autor_id %}
							<img src="static/images/insignia.png" /> 
							{% endif %}
                            Respuesta {{ comentario.nombre}} {{ comentario.apellidos}}
							</div>
							<div class="com_texto">{{ comentario.comentario}}</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			{% endif %}
			</div>
		{% endfor %}
	{% endif %}
	
{% endblock%}