{% block sectores_base %}

        
	<div class="row">
        
	{% for sector in list %}

		<div class="clearfix visible-sm"> </div>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <h4 class="titulo-sector"><a href="listado_sector.php?sector={{sector.id}}">{{sector.nombre|raw}}</a> 
                <a data-toggle="modal" href="#modal_{{sector.id}}" class="fa fa-info-circle"></a></h4>
            <img id="{{sector.id}}" alt="{{sector.nombre}}" class="img-responsive sector" src="{{sector.image_url}}">
        </div>
        <div id="modal_{{sector.id}}" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{sector.nombre}}</h4>
                    </div>
                    <div class="modal-body">
                        {{sector.info|raw}}
                    </div>
                </div>
            </div>
        </div>

	{% else %}
		<div class="">No hay ejes programáticos.</div>
	{% endfor %}

    </div>

{% endblock %}