<h4> ¿Para qué sirve esta web?</h4>
<p> Esta web sirve para elaborar de manera colectiva el programa que {% include 'texto_ganemos.html' %} presentará en las próximas elecciones municipales.</p>
<p>Cualquier persona que se registre puede presentar aquí su propuesta, así cómo debatir, valorar comentar y sugerir mejoras a aquellas propuestas publicadas.</p>
<p>Esto significa que este foro es únicamente para debatir sobre el programa. Consulta la <a href="{% include 'texto_web.html' %}">web de {% include 'texto_ganemos.html' %}</a> para ver otros procesos de participación online abiertos.</p>