<p>De conformidad con lo dispuesto en la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal, te informamos de que los datos personales que nos proporciones así como aquellos que nos facilites en un futuro serán incorporados a un fichero automatizado de datos de carácter personal responsabilidad de {% include 'texto_ganemos.html' %}, con la finalidad de gestionar las comunicaciones que podamos realizar contigo.</p>

<p>Para ejercitar los derechos de acceso, rectificación, oposición y cancelación reconocidos por la legislación vigente, el interesado deberá realizar una comunicación a {% include 'texto_email.html' %}, indicando como asunto “Protección de datos”.</p>

<p>Asumimos que al registrarte estás conforme con estas advertencias legales.</p>
